<%+header%>
<script src="\tinymce\tinymce.min.js"></script>
<script>tinymce.init({ selector:'textarea' });</script>
<h2><%:My Blog%></h2>
<form method="post">
<%:Title%>:<input type="text" name="title"/>
<textarea name="content"></textarea>
<input type="submit"/>
</form>
<%  local title=luci.http.formvalue("title")
	local content=luci.http.formvalue("content")
    if title then
		if title~="" then
		local sql=require "luasql.mysql"
		local env=sql.mysql()
		local conn=env:connect('test','root','5238222','127.0.0.1',3306)
		str=string.format([[insert into blog(title,content) values ("%s","%s");]],title,content)
		rse=assert(conn:execute(str))
		conn:close()
		env:close()
		else
%>
<script>alert("标题不为空！");</script>
<% 		end
	end
 %>
<%+footer%>