<%+header%>
<div class="container">
	<form method="post" >
		<div class="cbi-map">
			<h2><%:Blog List%></h2>
			<div class="cbi-map-descr">Show the list of blogs.</div>
			<fieldset class="cbi-section">
				<div class="cbi-section-node">
					<table class="cbi-section-table">
						<tbody>
							<tr class="cbi-section-table-titles">
								<th class="cbi-section-table-cell">ID</th>
								<th class="cbi-section-table-cell">Title</th>
								<th class="cbi-section-table-cell">Date</th>
								<th class="cbi-section-table-cell">view</th>
								<th class="cbi-section-table-cell">update</th>
								<th class="cbi-section-table-cell">delete</th>
							</tr>
							<%	
								local sql=require "luasql.mysql"
								local env=sql.mysql()
								local conn=env:connect('test','root','5238222','127.0.0.1',3306)
								local str=string.format([[select * from blog order by id;]])
								local cursor,errorInfo=assert(conn:execute(str))
								local row=cursor:fetch({},"a")
								while row do
							%>
							<tr class="cbi-section-table-row cbi-rowstyle-1">
								<td class="cbi-value-field"><%=row.id%></td>
								<td class="cbi-value-field"><%=row.title%></td>
								<td class="cbi-value-field"><%=row.date%></td>
								<td class="cbi-value-field">
									<a href="<%=controller%>/admin/my_blog/view_blog?view_id=<%=row.id%>"><input class="cbi-button cbi-input-find" type="button" value="view"></a>
								</td>
								<td class="cbi-value-field">
									<a href="<%=controller%>/admin/my_blog/update_blog?update_id=<%=row.id%>"><input class="cbi-button cbi-input-edit" type="button" value="update"></a>
								</td>
								<td class="cbi-value-field">
									<a href="<%=controller%>/admin/my_blog/remove_blog?remove_id=<%=row.id%>" onclick="return confirm('确认删除？')"><input class="cbi-button cbi-input-remove" type="button" value="delete"></a>
								</td>
							</tr>
							<%
									row=cursor:fetch(row,"a")
								end
								cursor:close()
								conn:close()
								env:close()
							%>
							
						</tbody>
					</table>
				</div>
			</fieldset>
		</div>
	</form>
<%+footer%>
