<%+header%>
<h2><a id="content" name="content"><%:system%></a></h2>
<h3><%:reboot%></h3>
<p><%:a_s_reboot1%></p>
<%-
	local c=require("luci.model.uci").cursor():changes()
	if c and next(c) then
-%>
	<p class ="warning"><%:a_s_reboot_u%></p>
<%-
end

if not reboot then

-%>
<p><a href="<%=controller%>/admin/system/reboot?reboot=1"><%:a_s_reboot_do%></a></p>

<%- else -%>

<p><%:a_s_reboot_running%></p>
<script type="text/javascript">setTimeout("location='<%=controller%>/admin'",60000)
</script>

<%- end -%>
<%+footer%>